@import "tailwindcss";

@theme {
  /* Define your custom colors here using CSS variables */
  /* The format is --color-{name}: {value} */

  --color-verso-cream: #fdf6e9;
  --color-verso-blue: #4a6fa5;
  --color-verso-dark: #2d3748;
  --color-verso-footer: #546e8c;
}
